'use strict';

import React, { Component } from 'react';
import { View, Text } from 'react-native';


export default class MDComponent extends Component {
  render() {
    return (
      <View>
        {{markdownContent|safe}}
      </View>
      );
  }
}
