
html, body, .viewport { width: 100%; height: 100%; margin: 0; }
.debug { border: 1px solid red; }
.debug2 { border: 1px solid green; }
.flexible { display: flex; flex-direction: row; }

.tree {
    width: 250px;
    overflow: auto;
}

#content-form {
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  display: flex;
  flex-direction: column;
}

#content-form label:not(.nolabel) {
  min-width: 100px;
}

#content-form .nolabel {
  width: 100%;
}

#header-pic {
  max-width: 100%;
  max-height: 300px;
  margin: auto;
}

#content-form div {
  display: flex;
}

#content-form div:not(:last-child) {
  margin-bottom: 0.5em;
}

#content-form input,
#content-form textarea {
  width: 100%;
  border: 1px solid #CCCCCC;
}

#content-form .nolabel a {
  width: 100%;
  min-height: 35px;
  margin: auto;
}

#header-image,
#pdf-input {
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}

#header-image-container {
    position: relative;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    min-height: 35px;
}

#header-image-container:hover #select-image-overlay {
    opacity: 1;
}

#select-image-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    height: 35px;
    background-color: black;
    opacity: 0;
}

.editor-column {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.editor {
    position: relative;
    display: flex;
    flex: 1;
    border: 1px solid #CCCCCC;
}

#cke_1_contents {
    position: absolute;
    left: 0px;
    top: 42px;
    right: 0px;
    bottom: 0px;
    height: auto !important;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px;
  z-index: 1000;
  background-color: #FFFFFF;
}

#below-editor {
    display: flex;
    justify-content: center;
}

#savebtn {
    width: 100%;
    border-radius: 0;
    font-size: 16pt;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}
